/node_modules
/bower_components
/dist
/tooling/node_modules
/cypress/screenshots
/cypress/videos
/.tmp
.DS_Store
*/.DS_Store
temp/
temp/_cacache
temp/_logs
*.log
*-lock.json
*/*-lock.json
*/temp
*/temp/_cacache
*/temp/_logs